.Nav{
    display: flex;
    background-color: rgb(9, 9, 58);
   
  }
  .Nav h5{
    text-decoration: none;
    color: white;
    padding-right:30px;
    font-size: 20px;
    padding-left: 20px;
    
   
  }
  .Nav h5:hover{
   
    color: aqua;
  }
 
   body{
    background: linear-gradient(90deg, rgba(151,210,174,1) 0%, rgba(45,137,185,1) 0%, rgba(65,172,179,0.42620798319327735) 53%, rgba(118,124,202,1) 100%, rgba(156,89,218,1) 100%, rgba(189,172,205,1) 100%);
}
.abv{
  width: 58%;
}
.icon{
  
margin-top: 10px;
  font-size: 40px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
}
.icon1{
  
  /* margin-top: 10px; */
    font-size: 40px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
    border: 1 px solid yellow;
    background-color: yellow;
  }